.story-list{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    /* flex-direction: column; */
    /* height:1101px; */
}
.story-list .story-card{
    padding: 24px 20px 32px;
}