<div class="public-box">
    <div class="title">
        <span>发布故事</span>

        <span>
            
            
        </span>
    </div>

    <div class="edit-box">
        <div class="avater">
            <img src="../../../assets/imgs/music/default_avatar.jpg" alt="">
        </div>

        <div class="edit">
            <form novalidate (ngSubmit)="onSubmit()" [formGroup]="user">
                <div class="title">
                    <label for="">故事标题:</label>
                    <input type="text" name="title" formControlName="title" placeholder="故事标题">
                </div>
                <textarea name="text" maxlength="500" (ngModelChange)="cacularLen()"  formControlName="text"></textarea>

                <div class="label">
                    <span [class.active]="i === curType" *ngFor="let item of types; let i = index" (click)="selectType(i)">{{item}}</span>
                    <input type="text" (ngModelChange)="autoType()" formControlName="type" placeholder="请填写类型" formControlName="type">
                </div>
                <div class="button">
                    <span>{{length}} / 500</span>
                    <button class="normal" type="submit">发布</button>
                </div>
            </form>
            
        </div>
    </div>
    <fs-alert-info [info]="info"></fs-alert-info>
    
</div>