<div class="public-box">
    <div class="title">
        <span>发布故事</span>
    </div>

    <div class="edit-box">
        <div class="avater">
            <img src="../../../assets/imgs/music/default_avatar.jpg" alt="">
        </div>

        <div class="edit">
            <textarea name="" id="" cols="30" rows="10"></textarea>

            <div class="label">
                <span *ngFor="let item of types">{{item.typeName}}</span>
            </div>
            <button class="normal">发布</button>
        </div>
    </div>

    
</div>