<div class="public-box">
    <div class="title">
        <span>发布故事</span>
    </div>

    <div class="edit-box">
        <div class="avater">
            <img src="../../../assets/imgs/music/default_avatar.jpg" alt="">
        </div>

        <div class="edit">
            <form novalidate (ngSubmit)="onSubmit()" [formGroup]="user">
                <textarea name="text" maxlength="500" (ngModelChange)="cacularLen()" id="" cols="30" rows="10" formControlName="text"></textarea>

                <div class="label">
                    <span [class.active]="item.typeId === curType" *ngFor="let item of types" (click)="selectType(item.typeId)">{{item.typeName}}</span>
                </div>
                <div class="button">
                    <span>{{length}} / 500</span>
                    <button class="normal" type="submit" (click)="onSubmit(f)">发布</button>
                </div>
            </form>
            
        </div>
    </div>

    
</div>