<div class="play">
    <div class="song-words-box">
        <div class="cvrwrap">
            <div class="u-cover">
                <img [src]="album.blurPicUrl">
                <span class="mask"></span>
            </div>
            <div class="title" *ngIf="current_music">
                {{current_music.name}}
            </div>
        </div>
        
        <div class="content" *ngIf="current_music">
            <div class="title">
                {{current_music.name}}
            </div>
            <div class="info">
                <span>歌手: {{current_music.ar[0].name}}</span>
            </div>

            <div class="songer">
                <!-- <span>作曲: 鞍钢</span>
                <span>作词: 驻军</span>
                <span>编曲: 鞍钢</span> -->
            </div>

            <div class="lyrics">
                <div class="lyric" [style.height]="lyricHeight">
                    <span *ngFor="let item of lyric">{{item}}</span>
                    <br/>
                </div>
                <div class="show-all" (click)="lyricHeight = 'auto'">展开</div>
            </div>
        </div>
    </div>

    <div class="comment-box" *ngIf="comment">
        <div class="comment-header">
            <div class="comment-title">评论</div>
            <span>共 {{comment.total}} 条评论</span>
        </div>

        <div class="user-comment">
            <div class="header-pic">
                <img src="assets/imgs/music/default_avatar.jpg" alt="">
            </div>
            <div class="comment-text">
                <textarea name="" id="" placeholder="评论"></textarea>
                <button class="normal">评论</button>
            </div>
        </div>

        <div class="wonderful-comment">
            <div class="comment-type">
                <span>最新评论</span>
            </div>
            <div class="comment-line" *ngFor="let item of comment.comments">
                <div class="header-pic">
                    <img [src]="item.user.avatarUrl" alt="">
                </div>
                <div class="comment-detail">
                    <div class="comment-user">
                        <span class="name">{{item.user.nickname}}:</span>
                        <span class="comment-words">{{item.content}}</span>
                    </div>
                    <div class="small-info">
                        <span class="time">{{item.time | date: 'yyyy-MM-dd hh:mm'}}</span>
                        <span class="liked">
                            <i class="iconfont" *ngIf="!item.liked" (click)="likedComment(1, item)">&#xe873;</i>
                            <i class="iconfont" *ngIf="item.liked"(click)="likedComment(0, item)">&#xe872;</i>
                            ({{item.likedCount}}) | 回复
                        </span>
                    </div>
                </div>
            </div>
            <div class="switch-page">
                <span class="prev" [class.active]="offset > 1" (click)="getComment(limit, current_music.id, offset - 1)">上一页</span>
                <span class="next" [class.active]="offset < comment['total'] / this.limit"(click)="getComment(limit, current_music.id, offset + 1)">下一页</span>
            </div>
        </div>
    </div>
</div>