.play .song-words-box{
    display: flex;
    justify-content: center;
}
.play{
        height: 100%;
    overflow: auto;
}
.cvrwrap{
    position: relative;
    display: block;
    width:300px;
}
.u-cover{
    position: relative;
    display: block;
    width: 198px;
    height:197px;
    
}
.u-cover img{
    width:130px;
    height:130px;
    margin:34px;
}
.u-cover .mask{
    position: absolute;
    width: 206px;
    height: 205px;
    top: -4px;
    left: -4px;
    background: url('../../../assets/imgs/music/coverall.png') no-repeat;
    background-position: -140px -580px;
    
}

.lyrics{
    display: flex;
    flex-direction: column;
}