<div class="main-wrapper">
    <!-- 背景 -->
    <fs-backcanvas></fs-backcanvas>

    <header>
        <!-- logo -->
        <div class="logo" (clicl)="backHome()">
            <span class="bluer">F</span>
            <span class="reder">U</span>
            <span class="yellower">N</span>
            <span class="bluer">N</span>
            <span class="greener">Y</span>
            <span class="reder">S</span>
        </div>

        <!-- 导航栏 -->
        <nav>
            <a [routerLink]="[ '/home' ]" routerLinkActive="active">Home</a>
            <a [routerLink]="[ '/music' ]" routerLinkActive="active">Music</a>
            <a [routerLink]="[ '/game' ]" routerLinkActive="active">Game</a>
            <a [routerLink]="[ '/story' ]" routerLinkActive="active">Story</a>
            <a [routerLink]="[ '/about' ]" routerLinkActive="active">About</a>
        </nav>

        <!-- 用户登录注册 -->
        <div class="user-use">
            <a [routerLink]="[ '/login' ]" routerLinkActive="active">Login</a>
            <span>/</span>
            <a [routerLink]="[ '/register' ]" routerLinkActive="active">Register</a>
        </div>
    </header>

    <!-- body -->
    <div class="main">
        <router-outlet></router-outlet>
    </div>

    <!-- footer -->
    <footer>
        <div class="container">
            <div class="copyright">Copyright@ 2018 李嘉欣 | 吴星昊</div>
        </div>
    </footer>
</div>