
.main-wrapper{
    background: #fff;
}
header, .main, footer {
    position: relative;
    /* width: 100vw; */
    margin:0 auto;
}

/* header */
header {
    display:flex;
    flex-wrap: nowrap;
    height:7.5vh;
    box-shadow: 0 4px 8px rgba(7, 17, 27, .1);
    background: #fff;
    line-height:7.5vh;
    color:#4D555D;
}
header .logo{
    flex-grow: 1;
    cursor: pointer;
    display: flex;
    justify-content: center;
}
header .logo span{
    display: block;
    margin-left:5px;
    font-size: 16px;
}

header nav{
    flex-grow: 3;
    display: flex;
    justify-content: center;
    text-align:center;
}
header nav a{
    width: 5vw;
    color:inherit;
    position: relative;
    transform: translateZ(0);
    margin-right: 10px;
}


/* 添加下划线 */
nav a:after{
    content: '';
    position: absolute;
    bottom:0;
    left:0;
    right:0;
    height: 4px;
    background: #4285f4;
    z-index: -1;
    transition: transform .3s ease-out;
    transform: scale(0);
    transform-origin: 50% 50%;
}

/* nav a.active:nth-child(1):after{
    background:#4285f4 !important;
} */
nav a:nth-child(2):after{
    background: #ea4335;
}
/* nav a.active:nth-child(2):after{
    background:#f50057 !important;
} */
nav a:nth-child(3):after{
    background: #fbbc05;
}
/* nav a.active:nth-child(3):after{
    background:#d500f9 !important;
} */
nav a:nth-child(4):after{
    background: #34a853;
}
/* nav a.active:nth-child(4):after{
    background:#651fff !important;
} */
nav a:nth-child(5):after{
    background: #4285f4;
}
/* nav a.active:nth-child(5):after{
    background:#3d5afe !important;
} */
nav a:hover:after,nav a.active:after{
    transform: scale(1);
}

header .user-use{
    display: flex;
    flex-grow: 1;
    justify-content: center;
}
header .user-use span{
    margin: 0 1vw;
}
header .user-use a{
    color:inherit;
}
header nav a:hover,header nav a.active, header .user-use a:hover{
    color:#07111b;
}


/* main */
.main{
    min-height: 77.5vh;
    color:#07111B;
    display: flex;
    justify-content: center;
}

/* footer */
footer{ 
    height: 15vh;
    background: #fff;
    color:#93999F;
}