.type{
    margin-bottom: 20px;
    border-radius: 8px;
    -webkit-box-shadow: 0 0 8px 0 rgba(7,17,27,.1);
    box-shadow: 0 0 8px 0 rgba(7,17,27,.1);
    /* background: #fff; */
    background: rgba(248,250,252,.2);
}
.type-box {
    padding:20px;
    display: flex;
    flex-wrap: wrap;
    /* margin-bottom: 20px; */
}
.type-box span{
    min-width: 60px;
    line-height: 30px;
    font-size: 14px;
    border: 1px solid rgba(147,153,159, .2);
    border-radius: 4px;
    transition: all .3s;
    cursor: pointer;
    padding: 0 10px;
    margin-right: 20px;
    text-align: center;
}
.type-box span:hover{
    background: rgba(52,168,83,.6);
    color: #fff;
}
.type-box span.active{
    background: rgba(52,168,83,1);
    color: #fff;
}