<div class="login-page">
	<div class="logo">
		<span class="bluer">F</span>
		<span class="reder">U</span>
		<span class="yellower">N</span>
		<span class="bluer">N</span>
		<span class="greener">Y</span>
		<span class="reder">S</span>
	</div>
	<div class="introductor">
		Sign in to FunnyS
	</div>
	<!-- <div class="introductor" *ngIf="forget">
		Forget Password
	</div> -->
	<form novalidate (ngSubmit)="onSubmit()" [formGroup]="user">
		<div class="username">
			<label for="username">Username: </label>
			<input type="text" placeholder="username" name="username" formControlName="username">
			<div class="error" *ngIf="user.get('username').hasError('minlength') && user.get('username').touched">
				用户名长度必须大于3
			</div>
			<div class="error" *ngIf="user.get('username').hasError('required') && user.get('username').touched">请输入用户名</div>
		</div>

		<div class="password">
			<label for="password">Password: <span class="forget-pass" (click)="forgetPwd()">忘记密码</span></label>
			<input type="password" placeholder="password" name="password" formControlName="password">
			<div class="error" *ngIf="user.get('password').hasError('minlength') && user.get('password').touched">
				密码长度必须大于6
			</div>
			<div class="error" *ngIf="user.get('password').hasError('required') && user.get('password').touched">请输入密码</div>
		</div>

		<button class="normal" type="submit" [disabled]="user.invalid">Sign in</button>
	</form>

	<fs-alert-info [info]="info" [change]="infoChange"></fs-alert-info>
</div>