.music-list{
    /* height:400px; */
    /* overflow-y: auto; */
    overflow-x: hidden;
}

.info{
    display: flex;
    justify-content: center;
    width: 100%;
    text-align: left;
}
.item{
    text-align: left;
    height:30px;
    line-height: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid rgba(147,153,159, .2);
    padding:0 10px;
}
.item:hover{
    background: rgba(147,153,159, .3);
}
.item .id{
    /* flex-grow: 1; */
    width:10%;
}
.item .controler{
    /* flex-grow: 1; */
    width:15%;
}
.item .title{
    /* flex-grow: 3; */
    width:35%;
    cursor: pointer;
}
.item .songer{
    /* flex-grow: 2; */
    width:25%;
}
.item .time{
    /* flex-grow: 1; */
    width:15%;
}
i{
    color:rgba(234,67,53,1);
}

img.songer{
    width:50px;
    margin-top: 10px;
}

.item.header>div{
    /* border-left: 1px solid rgba(147,153,159, .2); */
}
.item.header>div.id{
    border-left: none;
}

.list-box.pic-line .pic-item{
    height: 60px;
    line-height: 60px;
}
.load-more {
    cursor: pointer;
}
img{
    width:100%;
}
.list-box{
    padding: 0 30px;
}
.list-box .songer-header{
    font-size: 24px;
    border-bottom: 2px solid rgba(234,67,53,1);
    margin-bottom: 20px;
    margin-top:10px
}
.top-songer-box{
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px dotted #999;
    padding-bottom: 20px;
    /* justify-content: center; */
}
.top-songer-box .songer-item{
    width: 170px;
    height:190px;
    margin-right: 30px;
    margin-bottom: 20px;
    cursor: pointer;
}
.top-songer-box .songer-item>span{
    color:#93999F;
    font-size: 12px;
}

.hot-songer-box{
    margin-top:20px;
    display:flex;
    flex-wrap: wrap;
}
.hot-songer-box>span{
    height: 30px;
    width: 160px;
    overflow: hidden;
    padding-bottom: 0;
    line-height: 23px;
    padding-left: 17px;
    color: #000;
    font-size: 12px;
    cursor: pointer;
}
.hot-songer-box>span:hover{
    text-decoration: underline;
}