<div class="music page-box">
	<div class="category">
		<span>
			音乐类型:
		</span>
		<div class="type-box">
			<span class="story-type" *ngFor="let type of types" (click)="searchMusic(type.typeId)" [class.active]="type.typeId===curType">{{type.typeName}}</span>
		</div>
	</div>

	<div class="content">
		<div [style.display]="list ? 'block' : 'none'">
			<fs-music-list [playOrder]="playOrder" [next]="curNext" (playSong)="playSong($event)"></fs-music-list>
		</div>

		<div [style.display]="list ? 'none' : 'block'">
			<router-outlet></router-outlet>
		</div>
	</div>

	<div class="player" #music>
		<!-- <iframe frameborder="no" border="0" marginwidth="0" marginheight="0" width=330 height=86 src="//music.163.com/outchain/player?{{current_music.songUrl}}&auto=1&height=66"></iframe> -->
		<audio src="http://music.163.com/song/media/outer/url?id={{current_music.songId}}" autoplay="autoplay"  controls="controls">Your browser does not support the audio tag.</audio>
		<!-- <iframe #iframe frameborder="no" border="0" marginwidth="0" marginheight="0" width=1152 height=86 [src]=current_music.songUrl></iframe> -->
		<div class="button">
			<div class="author">
				<div class="picture" (click)="showDetail(current_music.songId)">
					<img [src]="current_music.songPicUrl" alt="">
				</div>
				<div class="singer-msg">
					<div class="title">{{current_music.songTitle}}</div>
					<div class="author-name">{{current_music.singerName}}</div>
				</div>
				<div class="control">
					<i class="iconfont" *ngIf="!current_music.love">&#xe871;</i>
					<i class="iconfont love" *ngIf="current_music.love">&#xe870;</i>
					<i class="iconfont">&#xe620;</i>
				</div>
			</div>
			<div class="play-music">
				<span>
					<i class="iconfont" (click)="clickNextPlayMusic(false)">&#xe61b;</i>
				</span>
				<span class="playing" *ngIf="!playing" (click)="playMusic(true)">
					<i class="iconfont">&#xe61a;</i>
				</span>
				<span class="playing" *ngIf="playing" (click)="playMusic(false)">
					<i class="iconfont">&#xe61f;</i>
				</span>
				<span>
					<i class="iconfont" (click)="clickNextPlayMusic(true)">&#xe61c;</i>
				</span>
			</div>


			<div class="play-msg">
				<span>{{currentTime | tosecond}}</span>
				<fs-progress [width]="timeWidth" (move)="moveTime($event)" [type]="'timeing'"></fs-progress>
				<span>{{allTime | tosecond}}</span>
			</div>

			<div class="volumn">
				<i class="iconfont" *ngIf="closeVolume" (click)="triggerVolume(false)">&#xe926;</i>
				<i class="iconfont" *ngIf="!closeVolume"  (click)="triggerVolume(true)">&#xe88f;</i>
				<fs-progress [width]="volumnWidth" (move)="moveVolumn($event)" [type]="'volume'"></fs-progress>
			</div>

			<div class="play-order" (click)="switchPlayType()">
				<span *ngIf="playorder === 0"><i class="iconfont">&#xe743;</i></span>
				<span *ngIf="playorder === 1"><i class="iconfont">&#xe66e;</i></span>
				<span *ngIf="playorder === 2"><i class="iconfont">&#xe66f;</i></span>
				<span *ngIf="playorder === 3"><i class="iconfont">&#xe622;</i></span>
			</div>
		</div>
	</div>
</div>